* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    position: fixed;
    height: 5rem;
    width: 100%;
    padding: 0.5rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0;
    flex: 1;
}

header nav button {
    display: inline-block;
    width: 12rem;
    padding: 0.25rem;
    margin-top: 0.5rem;
    background-color: blue;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

main {
    margin-top: 5rem;
    flex: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}

label {
    display: block;
}


.hidden {
    display: none;
}

dialog::backdrop {
    background-color: #777777;
    opacity: 0.75;
}

li {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

li>p>span {
    display: block;
}

li>p>span:first-child {
    font-size: larger;
    /*line-height: 2rem;*/
}

li label {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    display: inline-block;
    background-color: lightgrey;
    border-radius: 0.75rem;
    border: 2px double lightgrey;
}

li label input {
    display: none;
}

li label:has(input[type="radio"]:checked) {
    background-color: aliceblue;
    border: 2px double darkcyan;
}

#scroll-indicator-up,
#scroll-indicator-down {
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

#scroll-indicator-up {
    bottom: 50px;
    right: 10px;
    display: none;
}

#scroll-indicator-down {
    bottom: 10px;
    right: 10px;
    display: none;
}



section#section3 {
    text-align: center;
}

section#section3 button {
    font-size: x-large;
    text-transform: capitalize;
    color: white;
    background-color: blue;
    border-radius: 15px;
}


@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    main {
        margin-left: 0;
    }

    li label {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
}